---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Ramiro Sanchez Aranda, a front-end software developer from Argentina.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li >Solidjs</li>
    <li>JavaScript</li>
    <li>Swift</li>
    <li>Node.js</li>
    <li>React.js</li>
    <li>Figma</li>
    <li>Canva</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
